h1 {
  font-size: 60px;
}
.quadrado2 {
  display: grid;
  gap: 10px;
  text-align: left;
  padding: 90px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 40px;
}
